<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Hiệp Sĩ SHARINGAN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://sharingan.click/"/>
    <meta property="og:title" content="Hiệp Sĩ SHARINGAN"/>
    <meta property="og:description"
          content="Hiệp Sĩ SHARINGAN, Tựa Game hiệp sĩ, Nhận ngọc xanh, trải nghiệm miễn phí trở về tuổi thơ Huyền thoại"/>
    <meta property="og:image" content="https://i.imgur.com/dahMKSo.png"/>
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <meta name="description"
          content="Hiệp Sĩ SHARINGAN, Tựa Game hiệp sĩ, Nhận ngọc xanh, trải nghiệm miễn phí trở về tuổi thơ Huyền thoại">
    <meta name="keywords" content="hiệp sĩ online, Hiệp Sĩ SHARINGAN, HSo, HSolau, hiệp sĩ lậu, hiệp sĩ online">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/hso.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js?t=743"></script>
    <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
    <script src="/js/pusher.js"></script>
    <script src="https://hcaptcha.com/1/api.js" async defer></script>
</head>
<body>
<div class="container" style="background: #561d00; padding-top: 2px; padding-bottom: 5px;border-radius: 0px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm"
                     style="background: #a36b53 url(https://i.imgur.com/Xyzt8TE.png) repeat-x;border-radius: 0px;padding: 15px 0 0 0;">
                    <div class="p-xs mb-3">
                        <a href="/">
                            <img src="/image/logo.png"
                                 style="display: block;margin-left: auto;margin-right: auto;max-width: 300px;">
                        </a>
                    </div>

                    <div class="bg_noel"></div>
                </div>
                <div class="col text-center" style=" z-index: 1; ">
                    <div style="line-height: 15px;font-size: 12px;padding-right: 8px;padding-left:8px;margin-bottom: 8px;padding-top: 10px;"
                         class="text-center">
                        <img height="12" src="/image/12.png" style="vertical-align: middle;">
                        <span style="vertical-align: middle;">Dành cho người chơi trên 12 tuổi. Chơi quá 180 phút mỗi ngày sẽ có hại sức khỏe.</span>
                    </div>


                    <a href="/"> <img src="https://i.imgur.com/7S0epkK.png" style="width:110px" alt="Button Image"></a>
                    <a href=""> <img src="https://i.imgur.com/RHxREAD.png" style="width:110px" alt="Button Image"></a>
                    <a href=""> <img src="https://i.imgur.com/Xya2xD6.png" style="width:110px" alt="Button Image"></a>
                    <a href=""> <img src="https://imgur.com/FovJ2E9.png" style="width:110px" alt="Button Image"></a>
                    <a href=""> <img src="https://imgur.com/7M3ZukN.png" style="width:110px" alt="Button Image"></a>
                    <p>
                        <a href="/login"> <img src="https://i.imgur.com/vE3wA5x.png" style="width:110px"
                                               alt="Button Image"></a>
                        <a href="/register"> <img src="https://i.imgur.com/wh97Qjy.png" style="width:110px"
                                                  alt="Button Image"></a>
                </div>


                <div class="bg_top_2" style="position:relative;background:url(https://i.imgur.com/PeDxV4D.gif),
								url(https://i.imgur.com/3KEpBKo.png),
								url(https://i.imgur.com/uk6ylG7.png);
								background-position:50% 85%,50% 78%,52% 70%,50% 48%,70% 64%,75% 89%,35% 0;
								background-repeat:no-repeat,no-repeat,repeat-x;">
                </div>


                <div class="text-center" style="background: #eee5cd;padding-top: 8px;">
                    <a class="mb-2" style="border-radius: 10px;"
                       href='https://www.mediafire.com/file/jfo71yu4tqj1495/hsosharingan.jar/file'><img
                            src="https://i.imgur.com/oCCfSX8.png"></a>
                    <a class="mb-2" style="border-radius: 10px;"
                       href='https://www.mediafire.com/file/6al32ul40cqxnwl/hsosharingan_280.rar/file'><img
                            src="https://i.imgur.com/l1rrDfw.png"></a>
                    <a class="mb-2" style="border-radius: 10px;"
                       href='https://www.mediafire.com/file/6vvhfmja0ilocbx/hsosharingan.apk/file'><img
                            src="https://i.imgur.com/P9FSSYr.png"></a>
                    <a class="mb-2" style="border-radius: 10px;" href='https://www.mediafire.com/file/yfll45j6v53wxz9/HSO+SHARINGAN.ipa/file'><img
                            src="https://i.imgur.com/K6SRhZ9.png"></a>

                    <div style="line-height: 15px; font-size: 12px; padding-right: 5px; padding-bottom: 8px; padding-top: 2px;"
                         class="text-center">
                        <span style="vertical-align: middle;"><strong>Tải Game Phù Hợp với phiên bản của bạn để trải nghiệm nhé.</strong></span>
                    </div>

                </div>


                <div class="ibox-content m-b-sm forum-container">


                    <div th:each="post : ${posts}">
                        <div class="alert alert-warning" style="background-color: #fdf8da;">
                            <div class="topic_name">
                                <div style="width: 55px; float:left; margin-right: 5px;">
                                    <img class="avatar" src="https://i.imgur.com/Af3YU5k.png"
                                         style="border-color:red; width: 50px; height: 50px;">
                                </div>
                                <a class="alert-link" th:href="@{'/post/' + ${post.code}}" title="">
                                    <i class="fa fa-check-circle-o" aria-hidden="true" style="color:red"></i>
                                    <span th:text="${post.title}"></span>
                                </a>
                                <div class="box_name_eman">bởi <b><b><span style="color:red"
                                                                           th:text="${post.userName}"></span></b></b>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="stick_topic"></div>
                    <div id="topic_main"></div>

                    <div class="ibox-content m-b-sm forum-container">
                        <p class="p1"><span class="s1"><strong>1.GIỚI THIỆU CHUNG</strong></span></p>
                        <p class="p1"><span class="s1">Trong thế giới của Hiệp Sĩ, bất kỳ ai lớn l&ecirc;n đều bắt đầu cuộc phi&ecirc;u lưu của ri&ecirc;ng m&igrave;nh như đi đến những v&ugrave;ng đất chưa được kh&aacute;m ph&aacute;, chiến đấu chống lại những thế lực xấu xa. Họ được gọi l&agrave; những Hiệp Sĩ của tự do, v&agrave; bạn sẽ l&agrave; một trong số đ&oacute;.</span>
                        </p>
                        <p class="p1"><span class="s1">L&agrave; một game nhập vai trực tuyến &ndash; Hiệp Sĩ mang đến cốt truyện hấp dẫn v&agrave; vui nhộn, thế giới rộng lớn thỏa sức kh&aacute;m ph&aacute;, hệ thống chiến đấu &ndash; vật phẩm đa dạng c&ugrave;ng với 4 lớp nh&acirc;n vật để bạn lựa chọn.</span>
                        </p>
                        <p class="p1"><span class="s1">Hiệp Sĩ l&agrave; tr&ograve; chơi trực tuyến đa nền tảng. Bạn c&oacute; thể chơi được tr&ecirc;n m&aacute;y t&iacute;nh PC Windows, iPhone, C&aacute;c d&ograve;ng m&aacute;y chạy hệ điều h&agrave;nh Android, Windows Phone, v&agrave; c&oacute; cả bản Java chạy tr&ecirc;n S40, S60 cũ của Nokia. Với chất lượng cao v&agrave; tốc độ mượt m&agrave; tr&ecirc;n c&aacute;c loại đường truyền mạng ADSL, 3G, GPRS.</span>
                        </p>
                        <p class="p1"><span class="s1">Tr&ograve; chơi th&iacute;ch hợp với mọi lứa tuổi. Điều khiển trực tiếp nh&acirc;n vật rất dễ d&agrave;ng tr&ecirc;n m&agrave;n h&igrave;nh cảm ứng. Khi chơi tr&ecirc;n PC bạn chỉ cần d&ugrave;ng chuột, hoặc linh hoạt điều khiển nh&acirc;n vật với b&agrave;n ph&iacute;m cứng điện thoại Nokia S40, S60 cũ.</span>
                        </p>
                        <p class="p2"><span class="s1">&nbsp;</span></p>
                        <p class="p1"><span class="s1"><strong>2.Thế giới rộng lớn:</strong></span></p>
                        <p class="p1"><span class="s1">Hiệp Sĩ bao gồm 3 thế giới lớn, địa h&igrave;nh đa dạng c&ugrave;ng với những v&ugrave;ng đất b&iacute; ẩn đang chờ bạn kh&aacute;m ph&aacute;.</span>
                        </p>
                        <p class="p2" style="text-align: center;"><img src="https://i.imgur.com/fKSBlbD.png" alt=""/>
                        </p>
                        <p class="p1"><span class="s1"><strong>3.Hệ thống chiến đấu:</strong></span></p>
                        <p class="p1"><span class="s1">Thuộc thể loại game nhập vai chặt ch&eacute;m đặc trưng, Hiệp Sĩ mang đến hệ thống chiến đấu đa dạng theo thuộc t&iacute;nh v&agrave; được ph&acirc;n chia từng nh&acirc;n vật. C&oacute; 5 loại thuộc t&iacute;nh bao gồm: S&aacute;t thương Vật l&yacute; &ndash; Băng &ndash; Lửa &ndash; Sấm s&eacute;t &ndash; Độc tố, ngo&agrave;i ra c&ograve;n c&oacute; th&ecirc;m những loại thuộc t&iacute;nh ẩn kh&aacute;c chưa được kh&aacute;m ph&aacute;.</span>
                        </p>
                        <p class="p1"><span class="s1">Hệ thống <strong>điểm tiềm năng</strong> trong game bao gồm 4 loại: Sức mạnh (STR) &ndash; Kh&eacute;o l&eacute;o (DEX) &ndash; Thể lực (VIT) &ndash; Tinh thần (INT). Mỗi lớp nh&acirc;n vật c&oacute; thể tăng điểm tiềm năng theo 2 hướng:</span>
                        </p>
                        <p class="p1"><span class="s1"><span> </span>+ Chiến binh: Sức mạnh &ndash; Thể lực</span></p>
                        <p class="p1"><span class="s1"><span> </span>+ Th&iacute;ch kh&aacute;ch: Sức mạnh &ndash; Kh&eacute;o l&eacute;o</span>
                        </p>
                        <p class="p1"><span class="s1"><span> </span>+ Ph&aacute;p sư: Tinh thần &ndash; Thể lực</span>
                        </p>
                        <p class="p1"><span class="s1">+ Thợ săn: Tinh thần &ndash; Kh&eacute;o l&eacute;o</span></p>
                        <p class="p2" style="text-align: center;"><span class="s1">&nbsp;<img
                                src="https://i.imgur.com/zujL7eZ.png" alt=""/></span></p>
                        <p class="p1"><span class="s1">Hệ thống <strong>kỹ năng chiến đấu</strong> đa dạng v&agrave; chia đều cho từng lớp nh&acirc;n vật:</span>
                        </p>
                        <p class="p2" style="text-align: center;"><img src="https://i.imgur.com/5gfDHAl.png" alt=""/>
                        </p>
                        <p class="p1"><span class="s1"><strong>4.Hệ thống vật phẩm:</strong>&nbsp;</span></p>
                        <p class="p1"><span class="s1">Game cung cấp hệ thống vật phẩm rất đa dạng, bao gồm trang bị d&agrave;nh ri&ecirc;ng cho từng nh&acirc;n vật v&agrave; trang bị tự chọn. Cấp độ vật phẩm được chia theo m&agrave;u đặc trưng: <strong>Trắng &ndash; </strong></span><span
                                class="s2"><strong>Xanh Dương</strong></span><span class="s1"><strong> &ndash; </strong></span><span
                                class="s3"><strong>V&agrave;ng</strong></span><span
                                class="s1"><strong> &ndash; </strong></span><span class="s4"><strong>T&iacute;m</strong></span><span
                                class="s1"><strong> &ndash; </strong></span><span class="s5"><strong>Cam</strong></span><span
                                class="s1">. Vật phẩm cấp c&agrave;ng cao sẽ c&oacute; những thuộc t&iacute;nh đặc biệt để kh&aacute;m ph&aacute;.</span>
                        </p>
                        <p class="p2" style="text-align: center;"><img src="https://i.imgur.com/subhhO7.png" alt=""/>
                        </p>
                        <p class="p2" style="text-align: center;"><img src="https://i.imgur.com/yB9EIuv.png" alt=""/>
                        </p>

                    </div>
                </div>
                <div id="top_power"></div>
                <div class="ibox-content forum-container"
                     style="background: url(https://i.imgur.com/GVJJtPU.png) #785245 repeat-x; width: 100%; height: 124px; background-position: center bottom;">
                    <div class="forum-title text-center text-white">
                        Trò chơi được vận hành bởi Dảk Lỏd.<br/>
                        Chơi quá 180 phút một ngày sẽ ảnh hưởng đến sức khỏe.
                    </div>
                </div>


            </div>


            <!-- Modal -->
            <div class="modal right fade" id="Noti_Home" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true" data-mdb-backdrop="static" data-mdb-keyboard="true">
                <div class="modal-dialog modal-side modal-bottom-right ">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #2c2c2c; color: #FFF; text-align: center;">
                            <img src="image/logo.png" style="display: block;
                                                                              margin-left: auto;
                                                                              margin-right: auto;
                                                                              max-width: 150px;">
                        </div>
                        <div class="modal-body">
                            <div style="text-align: center;">
                                <p style="padding: 10px">
                                    <b><span style="color: red; font-size: large; ">Thông Báo</span></b>

                                <div class="mb-2" style="font-size: 15px;">
                                    <p><strong style="color: rgb(255,0,0);">Hiệp Sĩ SHARINGAN ĐÃ OPEN</strong></p>
                                </div>
                                <div class="mt-2">
                                    <br>
                                    <a href="https://zalo.me/g/kdjgfw230"> <img src="https://i.imgur.com/FovJ2E9.png"
                                                                                style="width:110px" alt="Button Image"></a>
                                    <a href="https://zalo.me/g/kdjgfw230"> <img src="https://i.imgur.com/7M3ZukN.png"
                                                                                style="width:110px" alt="Button Image"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script src="/js/hso.js"></script>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    function a(a){b(a,"topic_main",0),b(a,"stick_topic",1)}function b(b,a,c){document.getElementById(a).innerHTML="",getData_API('<div class="alert alert-warning" style="background-color: {$color};"> <div class="topic_name"> <div style="width: 55px; float:left; margin-right: 5px;"> <img class="avatar" src="https://i.imgur.com/Af3YU5k.png" style="border-color:{$coloravatar}; width: 50px"> </div> <a class="alert-link" href="{$url}" title="">{$title}</a> <div class="box_name_eman">b\u1EDFi <b>{$owner}</b> <span>  - {$time}</span> </div></div></div>',a,"topic?stick="+c+"&tags="+b+"&page=")}channel.bind("update-topic",function(b){a(1)}),a(1)
</script>
<script>$('#Noti_Home').modal('show');</script>