<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Hiệp Sĩ SHARINGAN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://sharingan.click/"/>
    <meta property="og:title" content="Hiệp Sĩ SHARINGAN"/>
    <meta property="og:description"
          content="Hiệp Sĩ SHARINGAN, Tựa Game hiệp sĩ, Nhận ngọc xanh, trải nghiệm miễn phí trở về tuổi thơ Huyền thoại"/>
    <meta property="og:image" content="https://i.imgur.com/dahMKSo.png"/>
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <meta name="description"
          content="Hiệp Sĩ SHARINGAN, Tựa Game hiệp sĩ, Nhận ngọc xanh, trải nghiệm miễn phí trở về tuổi thơ Huyền thoại">
    <meta name="keywords" content="hiệp sĩ online, Hiệp Sĩ SHARINGAN, HSo, HSolau, hiệp sĩ lậu, hiệp sĩ online">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/hso.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js?t=743"></script>
    <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
    <script src="/js/pusher.js"></script>
    <script src="https://hcaptcha.com/1/api.js" async defer></script>
</head>
<body>
<div class="container" style="background: #561d00; padding-top: 2px; padding-bottom: 5px;border-radius: 0px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm"
                     style="background: #a36b53 url(https://i.imgur.com/Xyzt8TE.png) repeat-x;border-radius: 0px;padding: 15px 0 0 0;">
                    <div class="p-xs mb-3">
                        <a href="/">
                            <img src="/image/logo.png"
                                 style="display: block;margin-left: auto;margin-right: auto;max-width: 300px;">
                        </a>
                    </div>

                    <div class="bg_noel"></div>
                </div>
                <div class="col text-center" style=" z-index: 1; ">
                    <div style="line-height: 15px;font-size: 12px;padding-right: 8px;padding-left:8px;margin-bottom: 8px;padding-top: 10px;"
                         class="text-center">
                        <img height="12" src="/image/12.png" style="vertical-align: middle;">
                        <span style="vertical-align: middle;">Dành cho người chơi trên 12 tuổi. Chơi quá 180 phút mỗi ngày sẽ có hại sức khỏe.</span>
                    </div>


                    <a href="/"> <img src="https://i.imgur.com/7S0epkK.png" style="width:110px" alt="Button Image"></a>
                    <a href=""> <img src="https://i.imgur.com/RHxREAD.png" style="width:110px" alt="Button Image"></a>
                    <a href=""> <img src="https://i.imgur.com/Xya2xD6.png" style="width:110px" alt="Button Image"></a>
                    <a href=""> <img src="https://imgur.com/FovJ2E9.png" style="width:110px" alt="Button Image"></a>
                    <a href=""> <img src="https://imgur.com/7M3ZukN.png" style="width:110px" alt="Button Image"></a>
                    <p>
                        <a href="/login"> <img src="https://i.imgur.com/vE3wA5x.png" style="width:110px"
                                               alt="Button Image"></a>
                        <a href="/register"> <img src="https://i.imgur.com/wh97Qjy.png" style="width:110px"
                                                  alt="Button Image"></a>
                </div>


                <div class="bg_top_2" style="position:relative;background:url(https://i.imgur.com/PeDxV4D.gif),
								url(https://i.imgur.com/3KEpBKo.png),
								url(https://i.imgur.com/uk6ylG7.png);
								background-position:50% 85%,50% 78%,52% 70%,50% 48%,70% 64%,75% 89%,35% 0;
								background-repeat:no-repeat,no-repeat,repeat-x;">
                </div>


                <div class="text-center" style="background: #eee5cd;padding-top: 8px;">
                    <a class="mb-2" style="border-radius: 10px;"
                       href='https://www.mediafire.com/file/jfo71yu4tqj1495/hsosharingan.jar/file'><img
                            src="https://i.imgur.com/oCCfSX8.png"></a>
                    <a class="mb-2" style="border-radius: 10px;"
                       href='https://www.mediafire.com/file/6al32ul40cqxnwl/hsosharingan_280.rar/file'><img
                            src="https://i.imgur.com/l1rrDfw.png"></a>
                    <a class="mb-2" style="border-radius: 10px;"
                       href='https://www.mediafire.com/file/6vvhfmja0ilocbx/hsosharingan.apk/file'><img
                            src="https://i.imgur.com/P9FSSYr.png"></a>
                    <a class="mb-2" style="border-radius: 10px;"
                       href='https://www.mediafire.com/file/yfll45j6v53wxz9/HSO+SHARINGAN.ipa/file'><img
                            src="https://i.imgur.com/K6SRhZ9.png"></a>

                    <div style="line-height: 15px; font-size: 12px; padding-right: 5px; padding-bottom: 8px; padding-top: 2px;"
                         class="text-center">
                        <span style="vertical-align: middle;"><strong>Tải Game Phù Hợp với phiên bản của bạn để trải nghiệm nhé.</strong></span>
                    </div>

                </div>

                <style>
                    .form-signin {
                      width: 100%;
                      max-width: 330px;
                      padding: 15px;
                      margin: 0 auto;
                    }
                    .form-signin .checkbox {
                      font-weight: 400;
                    }
                    .form-signin .form-control {
                      position: relative;
                      box-sizing: border-box;
                      height: auto;
                      padding: 10px;
                      font-size: 16px;
                      margin-bottom: 5px;
                      border-radius:15px;
                    }
                    .form-signin .form-control:focus {
                      z-index: 2;
                    }
                    .form-signin input[type="email"] {
                      margin-bottom: 5px;
                      border-radius:15px;
                    }
                    .form-signin input[type="password"] {
                      margin-bottom: 5px;
                      border-radius:15px;
                    }
                </style>
                <body class="text-center">


                <form class="form-signin" method="POST" action="/register">
                    <div th:if="${error}" class="alert alert-danger" role="alert">
                        <span th:text="${error}"></span>
                    </div>
                    <h1 class="h3 mb-3 font-weight-normal">Đăng Ký Tài Khoản</h1>
                    <label for="username" class="sr-only">Username</label>
                    <label for="username"></label><input type="text" id="username" name="username" class="form-control"
                                                         placeholder="Tên tài khoản" required="" autofocus="">
                    <label for="password" class="sr-only">Password</label>
                    <label for="password"></label><input type="password" id="password" name="password"
                                                         class="form-control" placeholder="Mật khẩu"
                                                         required="">
                    <label for="repassword" class="sr-only">RePassword</label>
                    <label for="repassword"></label><input type="password" id="repassword" name="repassword"
                                                           class="form-control" placeholder="Nhập lại mật khẩu"
                                                           required="">
                    <br>
                    <button class="btn btn-lg btn-dark btn-block" style="border-radius: 10px;" type="submit"
                            name="buttonregister">Đăng Ký
                    </button>
                </form>
                </body>


                <div class="ibox-content forum-container"
                     style="background: url(https://i.imgur.com/GVJJtPU.png) #785245 repeat-x; width: 100%; height: 124px; background-position: center bottom;">
                    <div class="forum-title text-center text-white">
                        Trò chơi được vận hành bởi Dảk Lỏd.<br/>
                        Chơi quá 180 phút một ngày sẽ ảnh hưởng đến sức khỏe.
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal right fade" id="Noti_Home" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true" data-mdb-backdrop="static" data-mdb-keyboard="true">
                <div class="modal-dialog modal-side modal-bottom-right ">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #2c2c2c; color: #FFF; text-align: center;">
                            <img src="image/logo.png" style="display: block;
                                                                              margin-left: auto;
                                                                              margin-right: auto;
                                                                              max-width: 150px;">
                        </div>
                        <div class="modal-body">
                            <div style="text-align: center;">
                                <p style="padding: 10px">
                                    <b><span style="color: red; font-size: large; ">Thông Báo</span></b>

                                <div class="mb-2" style="font-size: 15px;">
                                    <p><strong style="color: rgb(255,0,0);">Hiệp Sĩ SHARINGAN ĐÃ OPEN</strong></p>
                                </div>
                                <div class="mt-2">
                                    <br>
                                    <a href="https://zalo.me/g/kdjgfw230"> <img src="https://i.imgur.com/FovJ2E9.png"
                                                                                style="width:110px" alt="Button Image"></a>
                                    <a href="https://zalo.me/g/kdjgfw230"> <img src="https://i.imgur.com/7M3ZukN.png"
                                                                                style="width:110px" alt="Button Image"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script src="/js/hso.js"></script>
                </div>
            </div>
            <script src="/js/hso.js"></script>
        </div>
    </div>
</div>
</body>
</html>